* {
    margin:0;
}
.movie_list_outer {
    margin:1rem;
    display:grid;
    grid-template-columns: 50% 50%;
    row-gap: 1rem;
}

.movie_list_outer .movie_list {
    display:grid;
    grid-template-columns: [image]230px [desc]1fr;
    grid-template-rows: [title]3rem [genres]5rem [summary]10rem;

    padding:1rem;
    gap:1rem;
}

.movie_list_outer .movie_list img {
    grid-column: image;
}
.movie_list_outer .movie_list h2 {
    grid-column: desc;
    grid-row: title;
}
.movie_list_outer .movie_list ul {
    grid-column: desc;
    grid-row: genres;
}
.movie_list_outer .movie_list p {
    grid-column: desc;
    grid-row: summary;
}